* {
    box-sizing: border-box;
  }
  
  html,
  body {
    background-color: #FEDCC8;
  }
  
  .parallax {
    -webkit-perspective: 100px;
            perspective: 100px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    margin-left: -1500px;
  }
  
    h1{
    font-size: 40px;
}

#check {
    color: #ede0d5;
    background-color: rgb(88, 3, 83);
    font-size: 16ps;
}

  .parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .parallax__layer img {
    display: block;
    position: absolute;
    bottom: 0;
    z-index: -1;
  }
  
  .parallax__cover {
    background: #2D112B;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 3500px;
    z-index: 2;
    overflow: visible;
    padding-left: 85vh;
    padding-top: 20vh;
  }

  
  
  .parallax__layer__0 {
    -webkit-transform: translateZ(-300px) scale(4);
            transform: translateZ(-300px) scale(4);
  }
  
  .parallax__layer__1 {
    -webkit-transform: translateZ(-250px) scale(3.5);
            transform: translateZ(-250px) scale(3.5);
  }
  
  .parallax__layer__2 {
    -webkit-transform: translateZ(-200px) scale(3);
            transform: translateZ(-200px) scale(3);
  }
  
  .parallax__layer__3 {
    -webkit-transform: translateZ(-150px) scale(2.5);
            transform: translateZ(-150px) scale(2.5);
  }
  
  .parallax__layer__4 {
    -webkit-transform: translateZ(-100px) scale(2);
            transform: translateZ(-100px) scale(2);
  }
  
  .parallax__layer__5 {
    -webkit-transform: translateZ(-50px) scale(1.5);
            transform: translateZ(-50px) scale(1.5);
  }
  
  .parallax__layer__6 {
    -webkit-transform: translateZ(0px) scale(1);
            transform: translateZ(0px) scale(1);
  }

  p, li{
	color: #ede0d5;
	font-size: 24px;
	line-height: 150%;
}
h2 {
    color: #ede0d5;
    line-height: 150%;
}