*, *:before, *:after {
    box-sizing: border-box;
  }
  
  html {
    overflow-y: scroll;
  }
  
  body {
    background: #080808;
    font-family: 'Titillium Web', sans-serif;
  }
  #particles-js{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 100% 100%;
    position: fixed;
    top: 0px;
    z-index:-1;
    
  }

  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
  }
  

  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index:-1;
  }
  
  .paralax {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url("http://www.testomic.com/public/codepen-assets/img/paralax/background.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .paralax .layer {
    position: absolute;
    width: 400%;
  }
  
  .paralax .foreground {
    height: 50%;
    bottom: 0;
    background: url("http://www.testomic.com/public/codepen-assets/img/paralax/foreground.png") repeat-x;
    background-size: 25% 100%;
    animation: slideshow 30s linear infinite;
  }
  
  .paralax .hills {
    height: 40%;
    bottom: 15%;
    background: url("http://www.testomic.com/public/codepen-assets/img/paralax/hills.png") repeat-x;
    background-size: 25% 100%;
    animation: slideshow 60s linear infinite;
  }
  
  .paralax .rocks1 {
    height: 35%;
    bottom: 25%;
    background: url("http://www.testomic.com/public/codepen-assets/img/paralax/rocks1.png") repeat-x;
    background-size: 25% 100%;
    animation: slideshow 120s linear infinite;
  }
  
  .paralax .rocks2 {
    height: 40%;
    bottom: 15%;
    background: url("http://www.testomic.com/public/codepen-assets/img/paralax/rocks2.png") repeat-x;
    background-size: 25% 100%;
    animation: slideshow 240s linear infinite;
  }
  
  @keyframes slideshow {
    0% {
      left: 0;
    }
    100% {
      left: -200%;
    }
  }
  @keyframes dayToNight {
    0% {
      -webkit-filter: hue-rotate(0deg) brightness(1);
      filter: hue-rotate(0deg) brightness(1);
    }
    50% {
      -webkit-filter: hue-rotate(180deg) brightness(0.1);
      filter: hue-rotate(180deg) brightness(0.1);
    }
    
  }
  
  a {
    text-decoration: none;
    color: #8ad0f8;
    transition: .5s ease;
  }
  a:hover {
    color: #8ad0f8;
  }
  
  .form {
    background: rgba(45, 46, 46, 0.9);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(46, 48, 49, 0.3);
  }

  .tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
  }
  .tab-group:after {
    content: "";
    display: table;
    clear: both;
  }
  .tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
  }
  .tab-group li a:hover {
    background: #8ad0f8;
    color: #ffffff;
  }
  .tab-group .active a {
    background: #8ad0f8;
    color: #ffffff;
  }
  
  .tab-content > div:last-child {
    display: none;
  }
  
  h1 {
    text-align: center;
    color: #8ad0f8;
    font-weight: 300;
    margin: 0 0 40px;
  }
  
  label {
    position: absolute;
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.25s ease;
    pointer-events: none;
    font-size: 22px;
  }
  label .req {
    margin: 2px;
    color: #8ad0f8;
  }
  
  label.active {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    left: 2px;
    font-size: 14px;
  }
  label.active .req {
    opacity: 0;
  }
  
  label.highlight {
    color: #ffffff;
  }
  
  input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #8ad0f8;
    color: #8ad0f8;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;
  }
  input:focus, textarea:focus {
    outline: 0;
    border-color: #8ad0f8;
  }
  
  textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
  }
  
  .field-wrap {
    position: relative;
    margin-bottom: 40px;
  }
  
  .top-row:after {
    content: "";
    display: table;
    clear: both;
  }
  .top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
  }
  .top-row > div:last-child {
    margin: 0;
  }
  .middle-row:after {
    content: "";
    display: table;
    clear: both;
  }
  .middle-row > div {
    color: #8ad0f8;
    float: left;
    width: 48%;
    margin-right: 4%;
  }
  .middle-row > div:last-child {
    margin: 0;
  }
  
  .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #8ad0f8;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
  }
  .button:hover, .button:focus {
    background: #8ad0f8;
  }
  
  .button-block {
    display: block;
    width: 100%;
  }
  
  .forgot {
    margin-top: -20px;
    text-align: right;
  }
  