body {
    font-family: Open Sans;
}

h1 {
    text-align: center;
}

#title {
    text-decoration: underline;
}

#quiz {
    text-indent: 20px;
    display:none;
}




#container {
    width:100%;
    margin:auto;
    height: 40vh;
    padding: 0 25px 40px 10px;
    background-color: rgb(241, 128, 76);
    border:4px solid rgb(241, 78, 3);
    border-radius:5px;
    color: rgb(71, 67, 67);
    font-weight: bold;
    
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#prev {
    display:none;
}

#start {
    display:none;
    width: 90px;
}